<h1 class="text-3xl">Precios del servicio</h1>
<hr class="my-2">
<section>
  <p class="mb-4">Qui sint in exercitation velit labore magna sint enim nulla culpa sint aliquip quis. Non dolor
    incididunt esse consectetur excepteur aliqua. Exercitation est sint ea mollit tempor reprehenderit est fugiat anim
    officia cillum. Nulla laborum velit eiusmod aliquip deserunt reprehenderit.

    Sit ex cillum Lorem irure adipisicing. Nisi commodo consectetur occaecat pariatur. Irure proident anim incididunt
    veniam aliqua enim anim mollit in excepteur dolore. Magna eiusmod reprehenderit duis adipisicing do officia. Est
    exercitation est aute Lorem occaecat nostrud do cillum sint.

    Quis tempor dolore enim anim est culpa nisi cupidatat incididunt. Magna enim amet ex quis est occaecat aute Lorem.
    Incididunt incididunt velit officia qui laborum non consectetur magna aliquip ipsum laboris reprehenderit est.</p>
</section>
