<h1 class="text-3xl">Sobre la aplicación</h1>
<hr class="my-2">
<section>
  <p class="mb-4">Elit ullamco nisi cupidatat quis qui. Esse cupidatat ex sit consequat magna. Laboris do nulla cillum
    est consequat ad tempor consequat eiusmod. Duis laborum amet aliqua aute cupidatat sit voluptate eu nostrud enim
    sunt consectetur minim. Nostrud minim duis deserunt eu eu culpa non incididunt velit. Dolore adipisicing ad esse
    aliqua. Est incididunt et dolore mollit.

    Aute nulla et ea laborum. In consectetur enim officia duis non ut aliqua minim excepteur. Aute eiusmod consequat
    sint pariatur nisi eiusmod sit nostrud ut sunt ad.</p>
</section>
